lightning==1.8.5.post0
numpy==1.24.0
pandas==1.5.2
seaborn==0.12.1
tensorboard==2.11.0
torch==2.0.0.dev20221221
torch-model-archiver-nightly==2022.12.21
torch-workflow-archiver-nightly==2022.12.21
torchmetrics==0.11.0
torchserve-nightly==2022.12.21
